## If Statement

In [8]:
x = 10;

if x==10:
    print(f"The variable X holds the number {x}")

The variable X holds the number 10

In [ ]:
sales = input('Please enter number of sales')
sales = int(sales)
bonus = 0

if sales>5000:
    bonus = 500
    
print (f"Bonus Value is {bonus}")

In [7]:
sales = input('Please enter number of sales')
sales = int(sales)
bonus = 0

if sales>5000:
    print("Congratulations, you got a bonus!!")
    bonus = 500
    
print (f"Bonus Value is {bonus}")

Please enter number of sales 5001

Congratulations, you got a bonus!!
Bonus Value is 500

## If-Else statement

In [ ]:
sales = input('Please enter number of sales')
sales = int(sales)
bonus = 0

if sales>5000:
    bonus = 500
else:
    bonus = 100
print ("Bonus Value is ", bonus)

In [8]:
namel = 'Mary'
name2 = 'mary'
if namel == name2:
    print ("The names are the same")
else:
    print ("The names are NOT the same.")

The names are NOT the same.

In [14]:
name1 = 'Mary'
name2 = 'mary'
if name1.title() == name2.title():
    print ("The names are the same")
else:
    print ("The names are NOT the same.")

The names are the same

### Case transformation

In [15]:
print(f"name1={name1.title()} and name2={name2.title()}")
print(f"name1={name1.upper()} and name2={name2.upper()}")
print(f"name1={name1.lower()} and name2={name2.lower()}")

name1=Mary and name2=Mary
name1=MARY and name2=MARY
name1=mary and name2=mary

### Nested statements

In [ ]:
# Get the customer's annual salary.
salary = int(input("Enter your annual salary:"))
# Get the number of years on the current job.
yearsEmployed = int (input("Enter num years employed"))

if salary >= 30000.0:
    if yearsEmployed >= 2:
        print ("You qualify for the loan.")
    else :
        print ("You must have been on your current")
        print ("job for at least two years to qualify.")
else:
    print ("You must earn at least $30,000 per year")

## If-Else-Elif statement

In [11]:
# Get the students overall grade.
score = int(input("Enter your exam score:"))
if score >= 90:
    print("Your grade is A.")
elif score >= 80:
    print ("Your grade is B.")
elif score >= 70:
    print ("Your grade is C.")
elif score >= 60:
    print ("Your grade is D.")
else :
    print ("Your grade is F.")

Enter your exam score: 82

Your grade is B.

### And operator

In [ ]:
# Get the students exam score and output the grade.
score = int(input("Enter your exam score:"))

if score >= 60  and score <70:
     print ("Your grade is a D.")

### Or Operator

In [ ]:
# Inform use if value received is invalid
grade = int(input(" Please enter exam grade: "))

if grade < 0  or grade > 100:
    print ("Invalid Grade ")
else:
    print ("Valid Grade ")

### Not Operator

In [ ]:
temperature = int(input(" Please enter current temperature: "))
if not(temperature > 30):
    print ("This is below the maximum temperature")

In [16]:
salary = int(input("Enter your annual salary:"))

result = salary > 30000
print (result)
print (type(result))

Enter your annual salary: 25000

False
<class 'bool'>

In [ ]:
sales = int(input("Please input total sales"))

if sales >= 50000.0:
    salesQuotaMet = True
else:
    salesQuotaMet = False

if salesQuotaMet == True:
    print ("Congratulations. You will receive a bonus")

In [2]:
import triangle

In [5]:
triangle.classify_triangle(3,4,5)

['Valid', 'Scalene Right']